*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #c8b7a6;
    background-image: url(https://images.pexels.com/photos/220067/pexels-photo-220067.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    
}
body h1{
    text-align: center;
    margin-top: 40px;
    color: white;

}
.container{
    height: 70vh;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    justify-content: left;
    margin-top: 30px;
    /* margin-left: 560px; */
    color: white;
    background-color: rgba(0, 0,0, 0.5);
    padding: 15px;
}
.form1{
    padding-top: 20px;
}
input[type="text"],
input[type="date"]{
    /* margin-left: 20px; */
    height: 30px;
    /* background-color: rgb(204, 216, 204); */
    border: none;
    border-radius: 8px;
    width: 100%;
}
input[type="file"]{
    height: 50px;
}
input[type="submit"]{
    height: 30px;
    width: 120px;
    letter-spacing: 0.2rem;
    font-size: 15px;
    font-weight: 600;
    border-radius: 12px;
    border:none;
}